<section class="border-t py-10">
    <h3 class="text-center">Adiciona Aqui - {% now 'Y' %}</h3>
    <div class="py-4 flex justify-center gap-3 underline-offset-2 underline">
        <a href="{% url 'home' %}">Página Inicial</a>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Log out</a>
        {% else %}
            <a href="{% url 'login' %}">Log in</a>
            <a href="{% url 'signup' %}">Registre-se</a>
        {% endif %}
        <a href="{% url 'about_us' %}">Sobre nós</a>
    </div>
</section>