{% extends 'base.html' %}

{% block content %}
    <section class="bg-white p-5">
        <h1 class="text-center text-gray-800 text-shadow text-2xl font-bold my-3">{% trans "About us" %}</h1>
        <div class="prose mx-auto">
            <p class="font-bold text-center">{% trans "Welcome to Adiciona Aqui!" %}</p>
            <p>{% trans "We are Gabriel da Mota and Gabriela Rocco, students in the 5th semester of Information Technology at Univesp. We are very excited to present our project, Adiciona Aqui (Add Here), developed as part of the integrative project discipline." %}</p>
            <p>{% trans "The idea came from a personal demand we faced recently, when we moved to this region. Finding local businesses was not always an easy task due to the lack of online presence of many establishments." %}</p>
            <p>{% trans "We decided to use our technology knowledge and skills to create a collaborative solution. Thus Adiciona Aqui was born, a platform where users can recommend local businesses that do not yet have an online presence." %}</p>
            <p>{% trans "Our main objective is to facilitate the discovery of these establishments and help them gain visibility on the internet, especially through Google Maps. We believe that strengthening the online presence of local businesses is essential to boost the region's economy and facilitate residents' access to quality local products and services." %}</p>
            <p>{% trans "At Adiciona Aqui, you are a fundamental part of this collaborative process. We invite you to recommend businesses you know and share this platform with your friends, family and neighbors. The more people who participate, the more complete and useful our local business database will be." %}</p>
            <p>{% trans "We value active community participation and are committed to providing a simple, intuitive platform where you can easily add new businesses and help promote the local economy. Together, we can make a difference and contribute to the growth of local businesses." %}</p>
            <p>{% trans "We thank all users who join us on this journey. Adiciona Aqui is a project in constant evolution, and we count on your support, feedback and suggestions to continually improve it." %}</p>
            <p>{% trans "Best regards," %}</p>
            <p>{% trans "Gabriel da Mota and Gabriela Rocco" %}</p>
            <p class="font-semibold">{% trans "Adiciona Aqui Team" %}</p>
        </div>
    </section>
{% endblock %}
