{% extends 'base.html' %}

{% block content %}
    <section class="bg-white p-5">
        <h1 class="text-center text-gray-800 text-shadow text-2xl font-bold my-3">Sobre nós</h1>
        <div class="prose mx-auto">
            <p class="font-bold text-center">Bem-vindos ao Adiciona Aqui!</p>
            <p>Somos Gabriel da Mota e Gabriela Rocco, estudantes do 4º semestre de Tecnologia da Informação na Univesp. Estamos muito animados em apresentar nosso projeto, o Adiciona Aqui, desenvolvido como parte da disciplina de projeto integrador.</p>
            <p>A ideia surgiu a partir de uma demanda pessoal que enfrentamos recentemente, quando nos mudamos para esta região. Encontrar comércios locais nem sempre foi uma tarefa fácil devido à falta de presença online de muitos estabelecimentos.</p>
            <p>Decidimos utilizar nosso conhecimento e habilidades em tecnologia para criar uma solução colaborativa. Assim nasceu o Adiciona Aqui, uma plataforma onde os usuários podem indicar comércios locais que ainda não possuem presença online.</p>
            <p>Nosso principal objetivo é facilitar a descoberta desses estabelecimentos e ajudá-los a ganhar visibilidade na internet, especialmente através do Google Maps. Acreditamos que fortalecer a presença online dos negócios locais é fundamental para impulsionar a economia da região e facilitar o acesso dos moradores a produtos e serviços locais de qualidade.</p>
            <p>No Adiciona Aqui, você é parte fundamental desse processo colaborativo. Convidamos você a indicar os comércios que conhece e a compartilhar essa plataforma com seus amigos, familiares e vizinhos. Quanto mais pessoas participarem, mais completo e útil será o nosso banco de dados de negócios locais.</p>
            <p>Valorizamos a participação ativa da comunidade e estamos comprometidos em fornecer uma plataforma simples e intuitiva, onde você possa facilmente adicionar novos comércios e ajudar a promover a economia local. Juntos, podemos fazer a diferença e contribuir para o crescimento de negócios locais.</p>
            <p>Agradecemos a todos os usuários que se juntam a nós nessa jornada. O Adiciona Aqui é um projeto em constante evolução, e contamos com seu apoio, feedback e sugestões para melhorá-lo continuamente.</p>
            <p>Com os melhores cumprimentos,</p>
            <p>Gabriel da Mota e Gabriela Rocco</p>
            <p class="font-semibold">Equipe Adiciona Aqui</p>
        </div>
    </section>
{% endblock %}
