{% load static %}
<!doctype html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <script type="module" src="{% static 'js/main.js' %}"></script>
        <title>{% block title %}Adiciona Aqui{% endblock %}</title>
    </head>
    <body>
        {% include 'partials/header.html' %}
        <main>{% block content %}{% endblock %}</main>
        {% include 'partials/footer.html' %}
    </body>
</html>