{% extends 'base.html' %}

{% block title %}Entre com sua nova senha{% endblock %}

{% block content %}
    {% if validlink %}
        <h1>Defina sua nova senha!</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Mude minha senha">
        </form>
    {% else %}
        <p>O link de reset de senha está inválido, possivelmente por já ter sido utilizado. Por favor, faça uma nova requisição de redefinição de senha.</p>
    {% endif %}
{% endblock %}