{% extends 'base.html' %}

{% block title %}Esqueceu sua senha?{% endblock %}

{% block content %}
    <h1 class="text-center text-gray-800 text-shadow text-2xl font-bold my-3">Esqueceu sua senha?</h1>
    <p class="text-center my-4">Digite seu email abaixo e nós te mandaremos instruções para resetá-la.</p>
    <div class="max-w-2xl mx-auto px-4">
        <form method="post" class="mb-4">
            {% include 'partials/form.html' with form=form %}
            {% csrf_token %}
            <button type="submit" class="text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center">Me envie instruções!</button>
        </form>
    </div>
{% endblock %}
