{% extends 'base.html' %}

{% block title %}Entre com sua nova senha{% endblock %}

{% block content %}
    {% if validlink %}
        <h1 class="text-center text-gray-800 text-shadow text-2xl font-bold my-3">Defina sua nova senha!</h1>
        <div class="max-w-2xl mx-auto px-4">
            <form method="post" class="mb-4">
                {% include 'partials/form.html' with form=form %}
                {% csrf_token %}
                <button type="submit" class="ttext-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center">Mude minha senha</button>
            </form>
        </div>
    {% else %}
        <p class="text-center my-4">O link de reset de senha está inválido, possivelmente por já ter sido utilizado. Por favor, faça uma nova requisição de redefinição de senha.</p>
    {% endif %}
{% endblock %}
