{% extends 'base.html' %}

{% block title %}Lugar{% endblock %}

{% block content %}
    <h1>Lugar: {{ place.name }}</h1>

    <div class="border">
        <p>name: {{ place.name }}</p>
        <p>created_at: {{ place.created_at }}</p>
        <p>address: {{ place.address }}</p>
        <p>phone: {{ place.phone }}</p>
        <p>site: {{ place.site }}</p>
        <p>registered: {{ place.registered }}</p>
        <p>user: {{ place.user }}</p>
        <p>categories: {% for category in place.categories.all %}{{ category.name }}, {% endfor %}</p>
        <p>photos:</p>
        <img src="{{ place.image.url }}" alt="">
        <br>
        <a href="{% url 'place_update' place.pk %}">Atualizar</a>
    </div>
{% endblock %}